<div id="page-top" style="padding: 25px; display: flex; flex-direction: column; align-items: center">
  <h1 style="margin-bottom: 25px;">🚧Rotondozing In Progress.. 🚧</h1>

  <p>Woah! This portfolio was woefully out-of-date, and I am currently re-tinkering it 🔨</p>
  <p>
    While that's underway, please check out my
    <a href="https://github.com/rotondozer" style="color: cornflowerblue">➡️ Github</a>,
    <a href="https://www.linkedin.com/in/nickrotondo724" style="color: cornflowerblue">➡️ LinkedIn</a> and my
    <a href="/downloads/nick_rotondo_resume.pdf" download='Nick Rotondo Resume' style="color: cornflowerblue">⬇️ current (2025) résumé</a>.
  </p>
</div>
