body {
  position: relative;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  background-color: rgb(198, 220, 231);
}

#about h1 {
  font-size: 50px;
}

button[name="show-resume"] {
  display: none;
}

.pics {
  float: left;
  margin: 15px;
  max-height: 400px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.phone-and-location {
  padding: 20px;
}

.section {
  padding: 15px;
  padding-top: 50px !important;
}

.section-heading {
  padding: 10px;
  border-bottom: 1px solid white;
}

.thumbnail {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(36, 35, 27) !important;
}

.btn {
  /*border: 1px solid black !important;*/
}

.btn-primary {
  background-color: rgba(6, 103, 71, 0.78) !important;
}

.btn-default {
  border: 1px solid rgba(6, 103, 71, 0.78) !important;
}

.resume-imbed {
  display: block;
}

/*.thumbnail {
  max-height: 300px;
}*/

@media screen and (min-width: 0px) and (max-width: 820px) {
  .resume-imbed {
  display: none;
  }
  button[name="show-resume"] {
  display: inline;
  }
}
