body {
  position: relative;
  font-family: 'Jacques Francois', serif;
  font-size: 16px;
}

.pics {
  float: left;
  margin: 15px;
  max-height: 400px;
  max-width: 300px;
  height: auto;
  width: auto;
}

.section {
  padding: 15px !important;
}

.section-heading {
  padding: 10px;
}

#about {
  margin-top: 50px;
  padding-top: 50px;
  height: 500px;color: #fff;
  background-color: rgba(105, 161, 179, 0.81);
}

#projects {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: rgba(89, 128, 101, 0.89);
}

#skills {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: rgba(105, 161, 179, 0.81);
}

#resume {
  padding-top: 50px;
  height: 1250px;
  color: #fff;
  background-color: rgba(89, 128, 101, 0.89);
}

#contact {
  padding-top:50px;
  height:500px;color: #fff;
  background-color: rgba(105, 161, 179, 0.81);
}

#band {
  padding-top: 50px;
  height: 500px;
  color: #fff;
  background-color: rgba(89, 128, 101, 0.89);
}

#dog {
  padding-top:50px;
  height:500px;color: #fff;
  background-color: rgba(105, 161, 179, 0.81);
}
